<header class="header">
    <div class="container">
        <div class="row header__row">
            <div class="header__navigation">
                <nav>
                    {% for link in section.settings.menu.links %}
                        <a href="{{ link.url }}">{{ link.title }}</a>
                    {% endfor %}
                </nav>
            </div>
            <div class="header__logo">
                <a href="/" class="header__logo-inner">
                    {% if section.settings.logo != blank %}
                        {{ section.settings.logo | img_url: 'master' | img_tag }}
                    {% else %}
                        {% render 'header-logo' %}
                    {% endif %}
                </a>
            </div>
            <div class="header__cart">
                <a href="/cart" class="header__cart-button">
                    {% render 'cart-button-icon' %}
                    <span class="headerCartLabel">
                        {{ cart.item_count }}
                    </span>
                </a>
            </div>
        </div>
        <div class="header__row-mobile">
            <div class="header-mobile__menu">
                <div class="side-menu-button" >
                    {% render 'side-menu-button-icon' %}
                </div>
                <div class="side-menu-active-button side-menu-button-hidden" >
                    {% render 'mobile-side-menu-active-button-icon' %}
                </div>
            </div>
            <div class="header-mobile__logo">
                <a href="/" class="header__logo-inner" loading="lazy">
                    {% if section.settings.logo != blank %}
                        {{ section.settings.logo | img_url: 'master' | img_tag }}
                    {% else %}
                        {% render 'header-logo-mobile' %}
                    {% endif %}
                </a>
            </div>
            <div class="header-mobile__cart">
                <a href="/cart">
                    <span>$ 0.00</span>
                    <span>(0)</span>
                    {% render 'cart-button-icon' %}
                </a>
            </div>
        </div>
    </div>
    <div class="popup-mobile">
        <nav class="popup-mobile__inner">
            <div class="popup-mobile__nav-top">
                {% for link in section.settings.menu-mobile.links %}
                    <a href="{{ link.url }}">{{ link.title }}</a>
                {% endfor %}
            </div>
            <div class="popup-mobile__nav-bottom">
                <a href="#">Privacy Policy</a>
                <a href="#">Currency</a>
                <a href="#">Shipping</a>
            </div>
        </nav>
    </div>
</header>

{% schema %}
    {
        "name": "Header",
        "settings": [
            {
                "type": "link_list",
                "id": "menu",
                "default": "main-menu",
                "label": "Heading Navgation Menu"
            },
            {
                "type": "link_list",
                "id": "menu-mobile",
                "label": "Mobile Navgation Menu",
                "default": "main-menu"
            },
            {
                "type": "image_picker",
                "id": "logo",
                "label": "Store Logo Image"
            }
        ]
    }
{% endschema %}